html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brand {
  font-size: 1.5rem;
}

.left {
  margin-left: auto;
  margin-right: 0;
}
.map {
  max-width: 750px;
  margin: 0 auto;
}

.map line {
  stroke: gray;
  stroke-width: 32px;
  stroke-linecap: square;
}
