html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brand {
  font-size: 1.5rem;
}

.left {
  margin-left: auto;
  margin-right: 0;
}
.map {
  max-width: 950px;
  margin: 8rem auto;
  background-color: green;
}

.f image {
  transform-origin: 30px 30px;
}

.f text {
  font-size: 10px;
  fill: darkblue;
  font-weight: 900;
}
