<table class="table align-middle mb-0 bg-white table-striped">
  <thead class="bg-light">
    <tr class="table-dark">
      <th>Id</th>
      <th>Airline</th>
      <th>Comeing From</th>
      <th>Terminal</th>
      <!-- <th>Departing To</th> -->
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of data">
      <td>{{ flight?.flightId }}</td>
      <td>{{ flight?.airline }}</td>
      <td>{{ flight?.airport }}</td>
      <td>{{ flight?.target == 1 ? "A" : "D" }}</td>
      <td>{{ flight?.station?.name }}</td>
    </tr>
  </tbody>
</table>
